.about__page {
  background-color: var(--background-grey);
  box-sizing: border-box;
  height: 100%;
  padding: 70px 80px 54px 80px;
}

.about__card {
  margin-top: 50px;
}

.about__mission {
}

.about__subheading--large {
  margin-bottom: 27px;
}

.about__mission--picture {
  background-color: var(--background-grey);
  min-width: 260px;
  max-width: 303px;
  min-height: 296px;
  max-width: 303px;
}

.about__mission--picture img {
  min-width: 260px;
  max-width: 303px;
  min-height: 296px;
  max-width: 303px;
}

.about__mission--container {
  margin-left: 40px;
}

.about__mission--text {
  margin-top:40px;
  line-height: 25px;
}

.about__mission--text div:last-of-type {
  margin-top: 20px;
}

.team--container {
    width: 100%;
    padding-top: 60px;
}

/* small screens */
@media (max-width: 767px) {
  .about__page {
    padding: 50px 15px;
  }
  .about__subheading--small {
    display: none;
  }
  .about__mission--container {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .about__subheading--large {
    display: none;
  }
}
