.about__page {
  background-color: var(--background-grey);
  box-sizing: border-box;
  height: 100%;
  padding: 70px 80px 54px 80px;
}

.about__card {
  margin-top: 50px;
}

.about__mission {
}

.about__subheading--large {
  margin-bottom: 27px;
}

.about__mission--picture img {
  max-width: 303px;
  width: 100%;
}

.about__mission--text {
  line-height: 25px;
}

.about__mission--text div:last-of-type {
  margin-top: 20px;
}

.team--container {
    width: 100%;
    padding-top: 60px;
}

.about__past-projects {
  margin-top: 40px;
}

.about__mission--text div:first-of-type {
  margin-top: 20px;
}

/* small screens */
@media (max-width: 991.98px) {
  .about__page {
    padding: 50px 15px;
  }
  .about__subheading--small {
    display: none;
  }
  .team--container {
    padding-top: 40px;
  }
  .about__mission--text div:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .about__subheading--large {
    display: none;
  }
}
