.past-projects__card {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.past-projects__logos {
  display: flex;
  justify-content: space-around;
}

.past-projects__card img {
  margin: 0 30px;
}

.past-projects__card div {
  display: flex;
  justify-content: space-between;
}

.past-projects__text {
  margin-bottom: 55px;
}

.past-projects__text a:last-of-type {
  color: var(--accent-blue);
}
