.past-projects__card {
  font-weight: 600;
}

img.arrow {
  margin-left: 10px;
}

.past-projects__text {
  margin-bottom: 55px;
}

@media (max-width: 767.98px) {
  .past-projects__text {
    margin-bottom: 40px;
  }

  .img-holder div {
    padding-bottom: 40px;
  }

}
