.card {
  width: 100%;
  padding: 60px;
  background-color: var(--background-white);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 34, 91, 0.03);
}

.card.card--invisible {
  padding: 60px 0 60px 60px;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

@media (max-width: 767.98px) {
  .card, .card.card--invisible {
    padding: 20px;
  }
}
