h1 {
  margin: 15px 0 0 0;
  font-size: 45px;
  line-height: 3rem;
  color: var(--font-color);
}

.page-heading__constant {
  font-size: .88em;
  font-weight: 600;
}

.page-heading span {
  color: var(--brand-color);
}

@media (max-width: 767.98px) {
  .page-heading__constant {
    max-width: 238px;
  }
}
