
.employee-info {
    margin-top: 15px;
    line-height: 25px;
}

.employee {
    width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    font-weight: 600;
    margin-bottom: 60px;
}

.employee__picture-holder img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  min-height: 120px;
  min-width: 120px;

}

.grey-circle img {
  height: 100%;
  width: 100%;
}

.employee-title {
    color: #d43021;
    margin-left: 6px;
}

.employee-bio {
    margin-top: 20px;
    font-weight: 400;
}

@media (max-width: 767.98px) {
  .employee-title {
    margin-left: 0;
  }
}
